.ui.menu {border-radius: 0 !important;}
.ui.vertical.menu {max-width: 15rem !important; width: 100% !important;}
.chatbox {height: 450px;}
.chat-button {background-color: #1B1C1D;border: 0; border-radius: 8%;}
#messages { overflow: auto; height: 15em;}
