.ui.menu {border-radius: 0 !important;}
.ui.vertical.menu {max-width: 15rem !important; width: 100% !important;}
.signup-button {color: #fff !important;}
.chatbox {height: 450px;}
.chat-button {display: none;}
#messages { overflow: auto; height: 15em;}
